* {
    box-sizing: border-box;
}
body {
    margin-top: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

header {
    height: 65px;
}

#sub-header {
    height: 55px;
    background-color: black;
    color: whitesmoke;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    margin-left: 15px;
    width: 155px;
    height: 30px;
}

.top-nav-bar a{
    color: rgb(79 57 63);
}